@charset "UTF-8";
html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

@media (max-width: 575.98px) {
  html {
    font-size: 9px;
  }
}

main {
  min-height: calc(100vh - 64px);
  background-color: #f9fafb;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clean-btn {
  outline: none;
  border: none;
  background-color: #fff;
  color: inherit;
}

.header {
  color: #fff;
  padding: 0 24px;
  background-color: #3f51b5;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .header {
    padding: 0 15px;
  }
}

.header__logo {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/icons/header-logo.svg) left center/36px no-repeat;
}

.header__app-version {
  margin: 0 15px 0 34px;
  padding: 5px;
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 70%;
  max-width: 842px;
  border-radius: 4px;
  background-color: #3c4a97;
}

@media (max-width: 991.98px) {
  .header__app-version {
    margin-left: 10px;
  }
}

@media (max-width: 575.98px) {
  .header__app-version {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__account-buttons {
  margin-left: auto;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-name-text {
  white-space: nowrap;
  margin-left: 40px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.06px;
  line-height: 24px;
}

.app-version-logo {
  height: 19px;
  padding: 4px;
  margin: 0 14px 0 6px;
  background-color: #26a69a;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .app-version-logo {
    display: none;
  }
}

.app-version-upgrade {
  color: #cdd1ea;
  line-height: 2rem;
  font-size: 1.4rem;
}

@media (max-width: 991.98px) {
  .app-version-upgrade {
    display: none;
  }
}

.app-version-upgrade-shorted {
  display: none;
}

@media (max-width: 991.98px) and (min-width: 575.98px) {
  .app-version-upgrade-shorted {
    display: block;
  }
}

.app-version-upgrade-small {
  display: none;
}

@media (max-width: 575.98px) {
  .app-version-upgrade-small {
    display: block;
    text-decoration: underline;
  }
}

.app-version-upgrade a {
  white-space: nowrap;
  display: inline;
  text-decoration: none;
  color: #fff;
}

.account-button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 2.2rem;
  height: 2.2rem;
}

.notifications-btn {
  background: url(../images/icons/notification-bell-icon.svg) center/contain no-repeat;
}

.logout-btn {
  margin-left: 14px;
  background: url(../images/icons/logout-icon.svg) center/contain no-repeat;
}

.left-panel {
  padding: 24px 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  min-height: calc(100vh - 64px);
  background-color: #fff;
}

.left-panel__user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e4e7eb;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.left-panel__tab-links {
  margin-bottom: 15px;
  border-bottom: 1px solid #e4e7eb;
}

.user-block__logo {
  width: 100px;
  height: 100px;
  background-color: #cccccc;
  border-radius: 50%;
  margin-bottom: 15px;
}

.user-block__name {
  color: #3a3b3f;
  font-size: 1.6rem;
  letter-spacing: -0.005rem;
  line-height: 2rem;
  margin-bottom: 4px;
}

.user-block__post {
  color: #9ea0a5;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-bottom: 13px;
}

.tab-btn {
  padding-left: 35px;
  margin: 6px 0 6px 16px;
  border: none;
  display: block;
  background-color: #fff;
  color: #66788a;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.005rem;
  line-height: 2rem;
  height: 46px;
  cursor: pointer;
}

.dashboard-tab-btn {
  background: url(../images/icons/dashboard-logo.svg) center left/24px no-repeat;
}

.users-tab-btn {
  background: url(../images/icons/users-btn-logo.svg) center left/24px no-repeat;
}

.products-tab-btn {
  background: url(../images/icons/product-icon.svg) center left/24px no-repeat;
}

.authentication-tab-btn {
  background: url(../images/icons/authentif-icon.svg) center left/24px no-repeat;
}

.typography-tab-btn {
  background: url(../images/icons/typography-icon.svg) center left/24px no-repeat;
}

.icons-images-tab-btn {
  background: url(../images/icons/icons-images.svg) center left/24px no-repeat;
}

.support-title {
  margin-left: 16px;
  color: #b1b1b1;
  font-size: 1.3rem;
  font-weight: 500;
}

.open-support {
  background: url(../images/icons/support-icon.svg) center left/24px no-repeat;
}

.enter-page {
  background-color: #f9fafb;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #9ea0a5;
}

.enter-page__block-container {
  margin: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(63, 63, 68, 0.595), 0 0 0 rgba(63, 63, 68, 0.465);
          box-shadow: 0 1px 3px rgba(63, 63, 68, 0.595), 0 0 0 rgba(63, 63, 68, 0.465);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  height: 640px;
  border-radius: 8px;
}

@media (max-width: 991.98px) {
  .enter-page__block-container {
    width: 530px;
    height: 550px;
  }
}

@media (max-width: 575.98px) {
  .enter-page__block-container {
    width: 300px;
    height: 520px;
  }
}

.enter-page__main-column {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 487px;
          flex: 0 0 487px;
  padding: 55px 63px;
}

@media (max-width: 991.98px) {
  .enter-page__main-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 575.98px) {
  .enter-page__main-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
    padding: 20px;
  }
}

.enter-page__decoration-column {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 473px;
          flex: 0 0 473px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 18px 24px 24px;
  border-radius: 0 8px 8px 0;
  color: #fff;
  background: url(../images/login-bg.svg) center right no-repeat;
}

@media (max-width: 991.98px) {
  .enter-page__decoration-column {
    display: none;
  }
}

.enter-steps {
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.enter-top-row {
  margin-bottom: auto;
  padding-bottom: 10px;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enter-top-row .enter-back-btn {
  font-size: 1.4rem;
  padding: 10px 10px 10px 26px;
  background: url(../images/icons/toleft-arrow.png) left/18px 14px no-repeat;
}

@media (min-width: 991.98px) {
  .enter-top-row .enter-back-btn {
    cursor: pointer;
  }
}

@media (max-width: 575.98px) {
  .enter-top-row .enter-back-btn {
    padding: 6px 22px;
  }
}

.enter-top-row .switch-step {
  font-size: 1.4rem;
}

.enter-top-row .switch-step .switch-btn {
  padding: 6px;
  text-decoration: underline;
}

@media (min-width: 991.98px) {
  .enter-top-row .switch-step .switch-btn {
    cursor: pointer;
  }
}

.enter-title {
  color: #212529;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 5px;
}

.enter-subtitle {
  font-size: 1.4rem;
  line-height: 20px;
  margin-bottom: 40px;
}

@media (max-width: 991.98px) {
  .enter-subtitle {
    margin-bottom: 15px;
  }
}

.forward-btn {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #3f51b5;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.25px;
  line-height: 16px;
  margin-bottom: 20px;
}

@media (min-width: 991.98px) {
  .forward-btn {
    cursor: pointer;
  }
}

.to-login {
  margin-bottom: 20px;
}

.to-registration {
  background-color: #e2eaf6;
  border: 3px solid #3f51b5;
  color: #3f51b5;
}

.enter-form {
  margin-bottom: auto;
  width: 100%;
}

.enter-form .login-field-wrapper {
  position: relative;
}

.enter-form .login-field {
  margin-bottom: 26px;
  padding: 13px 16px;
  width: 100%;
  height: 50px;
  border: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  color: #aaaaaa;
  font-size: 16px;
  letter-spacing: 0.15px;
}

@media (max-width: 991.98px) {
  .enter-form .login-field {
    height: 42px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .enter-form .login-field {
    height: 36px;
    margin-bottom: 15px;
  }
}

.enter-form .login-field:hover {
  border: 3px solid #3f51b5;
  color: black;
}

.enter-form .login-terms-check {
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
  left: 0;
  background-color: #425a70;
  margin-right: 10px;
}

.enter-form .login-terms-check-text {
  font-size: 16px;
  line-height: 20px;
}

.enter-form .login-terms-check-text a {
  color: #5b5c5d;
}

.login-field-wrapper:hover:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 10;
  padding: 0 6px;
  height: 20px;
  color: #3f51b5;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.wrapper-name:hover:before {
  content: 'Name';
}

.wrapper-last-name:hover:before {
  content: 'Last name';
}

.wrapper-email:hover:before {
  content: 'Email';
}

.wrapper-password:hover:before {
  content: 'Password';
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.decoration-text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 25px;
  margin-bottom: 16px;
}

.decoration-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/icons/login-cit-author.png) left/32px 32px no-repeat;
  padding-left: 50px;
}

.decoration-author__name {
  font-size: 17px;
  letter-spacing: -0.05px;
}

.decoration-author__post {
  padding-top: 3px;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.active__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notifications-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 342px;
  height: 395px;
  background-color: #fff;
  padding-top: 4px;
  border-radius: 8px 0 0 0;
  color: #3a3b3f;
  /* полоса прокрутки (скроллбар) */
  /* ползунок скроллбара */
}

.notifications-bar__active {
  opacity: 1;
  overflow: visible;
}

.notifications-bar ::-webkit-scrollbar {
  width: 8px;
  /* ширина для вертикального скролла */
}

.notifications-bar ::-webkit-scrollbar-thumb {
  background-color: #c7ced4;
  border-radius: 1em;
}

.notifications-bar ::-webkit-scrollbar-thumb:hover {
  background-color: #a2a6aa;
}

.notifications-bar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 328px;
  height: 97px;
  margin: 0 7px 10px 7px;
  background-color: #f9fafb;
}

.notifications-bar__alerts-block {
  margin: 0 7px 5px;
  height: 275px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #c7ced4 #fff;
}

.close-bar {
  position: absolute;
  top: -60px;
  right: 10px;
}

.close-bar__btn {
  background-color: rgba(255, 255, 255, 0);
  color: #535353;
  font-size: 55px;
}

.bar-text {
  margin: 0 8px 0 20px;
}

.bar-text .bar-title {
  margin-bottom: 3px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.04px;
  line-height: 20px;
}

.bar-text .bar-count {
  color: #9ea0a5;
  font-size: 1.2rem;
}

.bar-logo {
  background: url(../images/icons/notification-icon.png) center/contain no-repeat;
  width: 184px;
  height: 92px;
}

.alert-item {
  width: 310px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #f0f1f4;
}

.alert-item__logo {
  margin: 0 8px 0 22px;
  width: 36px;
  height: 36px;
  background: url(../images/icons/users-operation.svg) center/contain no-repeat;
}

.alert-item__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-name {
  font-size: 1.4rem;
}

.message-time {
  color: #9ea0a5;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */