.header {
	color: $inv-text;
	padding: 0 24px;
	background-color: #3f51b5;
	height: 64px;
	display: flex;
	align-items: center;

	@media (max-width: 575.98px) {
		padding: 0 15px;
	}

	&__logo {
		height: 36px;
		display: flex;
		align-items: center;
		background: url(../images/icons/header-logo.svg) left center/36px no-repeat;
	}

	&__app-version { 
		margin: 0 15px 0 34px;
		padding: 5px;
		min-height: 3rem;
		display: flex;
		align-items: center;
		text-align: center;
		width: 70%;
		max-width: 842px;
		border-radius: 4px;
		background-color: #3c4a97;

		@media (max-width: 991.98px) {
			margin-left: 10px;
		}

		@media (max-width: 575.98px) {
			justify-content: center;
		}
	}

	&__account-buttons {
		margin-left: auto;
		width: 55px;
		display: flex;
		justify-content: space-between;
	}
}

.logo-name-text {
	white-space: nowrap;
	margin-left: 40px;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: -0.06px;
	line-height: 24px;

	// @media (min-width: 575.98px) {
	// 	
	// }
}
 
.app-version-logo {
	height: 19px;
	padding: 4px;
	margin: 0 14px 0 6px;
	background-color: #26a69a;
	border-radius: 0.4rem;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.3px;
	text-transform: uppercase;

	@media (max-width: 575.98px) {
			display: none; 
		}
}

.app-version-upgrade {
	color: #cdd1ea;
	line-height: 2rem;
	font-size: 1.4rem;

	@media (max-width: 991.98px) { display: none;	}

	&-shorted {
		display: none;

		@media (max-width: 991.98px) and (min-width: 575.98px) {
			display: block;
		}
	}

	&-small {
		display: none;

		@media (max-width: 575.98px) {
			display: block;
			text-decoration: underline;
		}
	}

	a {
		white-space: nowrap;
		display: inline;
		text-decoration: none;
		color: $inv-text;
	}
}

.account-button {
	cursor: pointer;
	border: none;
	outline: none;
	width: 2.2rem;
	height: 2.2rem;
}

.notifications-btn {
	background: url(../images/icons/notification-bell-icon.svg) center/contain no-repeat; 
}

.logout-btn {
	margin-left: 14px;
	background: url(../images/icons/logout-icon.svg) center/contain no-repeat;
}