.left-panel {
	padding: 24px 16px;
	flex: 0 0 270px;
	min-height: calc(100vh - 64px);
	background-color: #fff;

	&__user-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 1px solid #e4e7eb;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}

	&__tab-links {
		margin-bottom: 15px;
		border-bottom: 1px solid #e4e7eb;
	}

	&__support {

	}
}

//left-panel__user-block:
.user-block__logo {
	width: 100px;
	height: 100px;
	background-color: #cccccc;
	border-radius: 50%;
	margin-bottom: 15px;
}

.user-block__name {
	color: #3a3b3f;
	font-size: 1.6rem;
	letter-spacing: -0.005rem;
	line-height: 2rem;
	margin-bottom: 4px;
}

.user-block__post {
	color: #9ea0a5;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding-bottom: 13px;
}

//left-panel__tab-links:
.tab-btn {
	padding-left: 35px;
	margin: 6px 0 6px 16px;
	border: none;
	display: block;
	background-color: #fff;
	color: #66788a;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.005rem;
	line-height: 2rem;
	height: 46px;
	cursor: pointer;
}

.dashboard-tab-btn {
	background: url(../images/icons/dashboard-logo.svg) center left/24px no-repeat;
}
.users-tab-btn {
	background: url(../images/icons/users-btn-logo.svg) center left/24px no-repeat;
}
.products-tab-btn {
	background: url(../images/icons/product-icon.svg) center left/24px no-repeat;
}
.authentication-tab-btn {
	background: url(../images/icons/authentif-icon.svg) center left/24px no-repeat;
}
.typography-tab-btn {
	background: url(../images/icons/typography-icon.svg) center left/24px no-repeat;
}
.icons-images-tab-btn {
	background: url(../images/icons/icons-images.svg) center left/24px no-repeat;
}

//left-panel__support:
.support-title {
	margin-left: 16px;
	color: #b1b1b1;
	font-size: 1.3rem;
	font-weight: 500;
	
}
.open-support {
	background: url(../images/icons/support-icon.svg) center left/24px no-repeat;
}

