html {
   font-family: Roboto, sans-serif;
   font-size: 10px;
   //300 400 500 700
}  

@media (max-width: 575.98px) {
   html { font-size: 9px; }
}

section,header,footer { padding: 0 10px;}


@import '_header';

@import '_footer';



@media (min-width: 1999.98px) {

}

@media (max-width: 1199.98px) {
  
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  
}



// 1999.98px - extra
// 1199.98px - xl
//991.98px - lg
//767.98px - md
//575.98px - sm
//<575 - xs
//USE SNIPPETS!!

