.authentication-block {
	//flex - column - cen - space-between
	color: $small-title-text;
	padding-top: 0;

	@media (max-width: 991.98px) {
  	padding-top: 40px;
	}
}

.auth-top-row {
	background-color: $soft-background;
	width: 100%;
	flex: 0 0 57px;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: flex-start;
	align-items: center;
	border-bottom: 1px solid #ddd;
	margin-bottom: 24px;

	@media (max-width: 991.98px) {
   margin-bottom: 12px;
	}
}

.to-tab-btn {
	height: 100%;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2rem;
	border-bottom: 3px solid transparent;
	background-color: inherit;
	margin-right: 30px;
	padding: 5px 12px;

	@media (max-width: 991.98px) {
   margin-right: 10px;
	}

	&__active{
		border-bottom: 3px solid $prim-highlight-text;
	}
}

//all 3 tabs
.auth-tabs {
	width: 100%;
	flex: 1 0 auto;
	position: absolute;
	z-index: -4;
	transition: opacity 0.4s;
	visibility: hidden;
	opacity: 0;

	* {
		position: absolute;
		top: 0px;
		left: 0;
		opacity: 0;
	}
}

.active-auth-tab {
	position: relative;
	z-index: 5;
	visibility: visible;
	opacity: 1;

	* {
		position: static;
		opacity: 1;
	}
}

.tab-profile {
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 1500px) {
		flex-direction: column;
	}
}

// .tab-account {
// }
// .tab-price-plans {
// }

@import 'tab-profile';
@import 'tab-account';
@import 'tab-plans';
