//.tab-profile itself in _authentification-block
.ava-change {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 249px;
  margin-bottom: 12px;

  //contains info & new-ava
  &__top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
  }

  &__bt-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    border-top: 1px solid $pale-text;
  }
}

//.ava-change__top-row
.ava-change__info {
  flex: 0 0 50%;
  height: 100%;
}

.ava-person-name {
  color: $dark-title-text;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
}

.ava-location {
  text-transform: uppercase;
  color: $pale-text;
  font-size: 1.4rem;
  line-height: 2rem;
}

.ava-change__new-ava {
  flex: 0 0 50%;
  height: 100%;

  img {
    width: 95%;
    height: 95%;
  }
}

// .ava-change__bt-row - 2buttons
.ava-buttons {
  min-width: 120px;
  height: 4rem;
  padding: 0 16px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.ava-upload {
  color: $prim-highlight-text;
}

// .ava-remove {}

//column with person & notif settings
.data-change {
  cursor: default;
  flex: 1 1 auto;
  max-width: 910px;
}

//person-settings & notif-settings blocks
.settings-blocks {
  position: relative;
  margin-bottom: 12px;

  &::after {
    position: absolute;
    bottom: 70px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background-color: $soft-border;
  }
}

.settings-top-rows {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $soft-border;

  .settings-title {
    margin: 0 16px 0 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .settings-top-info {
    color: $footnote;
    font-size: 16px;
    font-weight: 300;
  }
}

.settings-forms {
  width: 65vw;
  max-width: 730px;
  padding: 24px 24px 0 24px;
}

.settings-field-wrapper {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 44%;
  min-width: 250px;
  margin: 0 24px 24px 0;
}

.settings-change-field {
  width: 100%;
  min-width: 240px;
  height: 5.6rem;
}

//"submit" in both settings blocks
.submit-setings-btns {
  position: relative;
  z-index: 5;
  display: block;
  margin-bottom: 16px;
  padding: 8px;
  color: $prim-highlight-text;
  border: 2px solid $sec-highlight-text;
  outline: none;
}

// .person-settings {}
.submit-profile-settings {
  width: 152px;
  margin-top: 20px;
}

// .notif-settings {}
.notif-settings-form {
  display: block;
  margin: 0;

  //titles of columns
  .settings-column-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 2rem;
  }

  &__notifications {
    display: inline-block;
    margin-right: 7vw;
    margin-bottom: 15px;
  }

  &__messages {
    display: inline-block;
    vertical-align: top;
  }
}

.settings-checkbox-text {
  cursor: pointer;
}

.submit-notif-settings {
  width: 120px;
}

///activate submit button on change
.active-submit-btn {
  cursor: pointer;
  color: $inv-text;
  background-color: $prim-highlight-text;
}

//hint in input form
.fill-required {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47%;
  margin: 4px;
  padding: 0 10px;
  text-align: center;
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.548);
  border-radius: 4px;
  background-color: $clean-bg;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

//little hint on activation
.steer-for-checkbox {
  position: relative;
  top: -20px;
  left: 31px;
  width: 100%;
  height: 16px;
  color: $footnote;
  font-size: 1.2rem;
}

/*
	media
*/
@media (min-width: 1500px) {
  .ava-change {
    margin-right: 24px;
  }
}

@media (max-width: 1199.98px) {
  .settings-field-wrapper {
    margin: 0 12px 17px 0;
    // width: 47%;
  }
}

@media (max-width: 991.98px) {
  .ava-buttons {
    min-width: 90px;
    padding: 0 10px;
  }

  .settings-top-rows {
    padding: 12px 0;
  }

  .settings-top-rows .settings-title {
    margin-left: 12px;
  }

  .settings-top-rows .settings-top-info {
    display: none;
  }

  .settings-forms {
    min-width: 90vw;
    padding: 18px 12px 0 12px;
  }
}

@media (max-width: 757.98px) {
  .ava-change {
    align-self: center;
  }

  .settings-forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .submit-notif-settings {
    margin: 0 auto 20px;
  }
}

@media (max-width: 575.98px) {
  .ava-change {
    width: 290px;
    height: 220px;
  }
}
