.scedule-containers {
	background: $clean-bg;
	height: 545px;	
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 767.98px) {
		margin-bottom: 12px;
	} 
}


.users-schedule {
	flex: 0 0 74.5%;
	
	@media (max-width: 1199.98px) {
		flex: 0 0 70%;
	}
	@media (max-width: 767.98px) {
		flex: 1 1 100%;
		height: 400px;
	} 
}

.users-circle-comparer {
	flex: 0 0 23.5%; 

	@media (max-width: 1199.98px) {
		flex: 0 0 28%;
	}
	@media (max-width: 767.98px) {
		flex: 1 1 100%;
		height: 220px;
	}
}

//////////////////////////////////////.users-schedule
.users-schedule__top {
	.schedile-title {

	}

	.days-resize-selector {

	}
}

.users-schedule__schedule {

}

.users-schedule__bottom {
	//to-audience-btn
}


//////////////////////////////////////users-circle-comparer
.users-circle__top {

}

.users-circle__circle {
	
}
// .users-circle__bottom {
// 	.to-audience-btn {}
// }


//////////////////////////////////////
//in both schedule & circle 
.to-audience-btn {
	
}