.blocks-of-latest {
	background: $clean-bg;
	height: 518px;
	margin-bottom: 24px;
	padding: 24px 24px 2px 24px;

	@media (max-width: 1300px) {
		padding: 12px 12px 2px 12px;
		margin-bottom: 12px;
	}
}


///////////////////////////////
.latest-products {
	flex: 0 0 23.5%; 

	@media (max-width: 1199.98px) {
		flex: 0 0 30%;
	}
	@media (max-width: 767.98px) {
		flex: 0 0 100%;
		height: auto;
	}

	&__top {
		display: flex;
		align-items: center;
		width: 95%;
		height: 8.5%;
		margin-bottom: 18px;

	}

	&__prod-items {
		height: 78.5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 10px;

		@media (max-width: 767.98px) {
			margin-bottom: 0;
		}
	}

	//to "products" block btn
	&__view-all {
		display: block;
		margin: 0 0 8px auto;
		padding: 6px 20px 6px 6px;
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		color: $sec-highlight-text ;
		background: url(../images/icons/to-right.svg) top 4px right/13px no-repeat;
	}
}

.latest-products-top-text {

	&__title {
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: -0.05px;
		margin: 0  8px 5px 0;
	}

	&__count {
		display: inline-block;
		font-size: 14px;
	}
}

.prod-item {
	position: relative;
	height: 21%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 0;
	margin-bottom: 22px;
	border-bottom: 2px solid #dfe3e8;

	@media (max-width: 767.98px) {
		padding-bottom: 14px;
	}

	&__logo-1 {
		background: url(../images/icons/dropbox-logo.png) center/contain no-repeat;
	}
	&__logo-2 {
		background: url(../images/icons/medium-corp-logo.png) center/contain no-repeat;
	}
	&__logo-3 {
		background: url(../images/icons/github-logo.png) center/contain no-repeat;
	}
	&__logo-4 {
		background: url(../images/icons/slack-logo.png) center/contain no-repeat;
	}

	&__logo {
		width: 58px;
		height: 58px;
		border-radius: 5px;
		margin-right: 9%;

		@media (max-width: 767.98px) {
			margin-right: 4%;
			width: 40px;
			height: 40px;
		}
	}

	//contains title and update time
	&__message {
		margin-right: 9%;
	}

	&__toevent {
		position: absolute;
		right: 0;
		top: 20%;
		width: 30px;
		height: 30px;
		background: url(../images/icons/three-dots.svg) center/20px 20px no-repeat;
	}
}

//prod-item__message:
.prod-item-name {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}
.prod-item-update {
	font-size: 12px;
	line-height: 16px;
	color: $pale-text;
}



//////////////////////////
.latest-orders {
	flex: 0 0 74.5%;
	width: 100%;

	@media (max-width: 1199.98px) {
		flex: 0 0 68%;
	}
	@media (max-width: 767.98px) {
		flex: 0 0 100%;
	}

	&__top-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
	}

	&__table-row {
		width: 100%;
		margin-bottom: 20px;
	}

	&__bottom-row {}
}

//latest-orders__top-row
.l-orders-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.l-orders-total {
	margin-right: auto;
	margin-left: 17px;
	color: $pale-text;
	font-size: 12px;
	line-height: 16px;
}

//latest-orders__table-row
.l-orders-table {
	width: 100%;	
	height: 394px; //!!!!!!!!
	font-size: 14px;

	thead {
		tr {
			height: 56px;
			th {
				width: 25%;
				border-bottom: 2px solid #e4e7eb;
				text-align: left;
				&:last-child {
					padding-right: 40px;
				}
			}
		}
	}

	tbody {
		tr {
			height: 50px;
			padding-bottom: 3px;
			margin-bottom: 3px;
			
			th {
				border-bottom: 1px solid #e4e7eb;
				width: 25%;
				text-align: left;
				
				&:nth-child(2) {
					font-size:  16px;
				}
			}
		}
	}
}


.l-roders-tr-0 {}
.l-roders-tr-1 {}
.l-roders-tr-2 {}
.l-roders-tr-3 {}
.l-roders-tr-4 {}
.l-roders-tr-5 {}


//latest-orders__bottom-row
.latest-orders__bt-row {
	display: flex;
	justify-content: flex-end;
}

.l-orders-content-resize {
	margin-right: 34px;

	@media (max-width: 991.98px) {
		margin-right: 15px;
	}

	select {
		// border: none;
		margin-left: 44px;
		@media (max-width: 991.98px) {
			margin-right: 15px;
		}
	}
}
.l-orders-table-page { 
	//number
	margin-right: 39px;
	@media (max-width: 991.98px) {
		margin-right: 15px;
	}
}

//prew & next pages
.l-orders-switches {
	width: 5px;
	height: 5px;
	padding: 7px;
}

.l-orders-prew-page {
	background: url(../../images/icons/to-prev.svg) center/contain no-repeat;

}
.l-orders-next-page {
	background: url(../../images/icons/to-next.svg) center/contain no-repeat;
}