.scedule-containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 545px;
  margin-bottom: 24px;
  background: $clean-bg;
}

.users-schedule {
  flex: 0 0 74.5%;
}

.users-circle-comparer {
  flex: 0 0 23.5%;
}

.users-schedule__top {
  justify-content: space-between;

  // .schedile-title {	}

  // .days-resize-selector {	}
}

.users-schedule__schedule {
  height: 450px;
}

// .users-schedule__bottom {}

//users-circle-comparer:
// .users-circle__top {}

.users-circle__circle {
  height: 450px;
}

.users-circle__bottom {
  justify-content: space-between;

  // .days-selector {
  // }

  // .to-audience-btn {}
}

//in both schedule & circle
// .to-audience-btn {}

/*
	media
*/
@media (max-width: 1199.98px) {
  .users-schedule {
    flex: 0 0 70%;
  }

  .users-circle-comparer {
    flex: 0 0 28%;
  }
}

@media (max-width: 767.98px) {
  .scedule-containers {
    margin-bottom: 12px;
  }

  .users-schedule {
    flex: 1 1 100%;
    height: 400px;
  }

  .users-circle-comparer {
    flex: 1 1 100%;
    height: 220px;
  }
}
