.info-unit {
	//all 4 units
	flex: 0 1 23.5%;
	padding: 20px 15px 24px 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 152px;
	margin-bottom: 24px;

	@media (max-width: 1199.98px) {
		height: 130px;
		padding: 12px;
		background-position: right 10px top 10px !important;
	}
	@media (max-width: 767.98px) {
		margin-bottom: 12px;
		flex: 0 1 48.5%;	
	}


	//background resizing
	@media (max-width: 1199.98px) and (min-width: 757.98px) {
		background-size: 35px !important;
	}

	@media (max-width: 575.98px) {
		flex: 1 0 100%;
		height: 85px;
		width: 100%;
	}

	&__title {
		color: $footnote;
		font-weight: 700;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 16px;
		text-transform: uppercase;
	}

	&__amount {
		color: $dark-title-text;
		font-size: 24px;
		letter-spacing: -0.06px;
		font-weight: 500;
		line-height: 2.8rem; 
	}

	&__changes-row {
		color: $footnote;
		font-size: 13px;
		margin-top: auto;
	}
}

.budget-unit {
	background: $clean-bg url(../images/icons/info-row-1.svg) right 15px top 20px/64px 64px no-repeat;
}
.users-unit {
	background: $clean-bg url(../images/icons/info-row-2.svg) right 15px top 20px/64px 64px no-repeat;
}
.progress-unit {
	background: $clean-bg url(../images/icons/info-row-3.svg) right 15px top 20px/64px 64px no-repeat;
}
.profit-unit {
	background: $enter-accent url(../images/icons/info-row-4.svg) right 15px top 17px/64px 64px no-repeat;
	
	.info-unit__title {
		color: $clean-bg;
	}

	.info-unit__amount {
		color: $clean-bg;
	}

	.info-unit__changes-row {
		color: $clean-bg;
	}
}

//.info-unit__changes-row
// .change-percent {}
// .change-period {}

//in progress unit
// .change-line {}