.dashboard-block {
  color: $small-title-text;

  .dashboard-rows {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  // &__info-row {}

  // &__schedules-row {}

  &__bottom-row {
    display: flex;
    border-bottom: 2px solid #dfe3e8;
  }
}

//line before bottom of blocks
.softline {
  width: 100%;
  height: 2px;
  color: transparent;
  background-color: #dfe3e8;
}

//top and bottom rows of schedules & latest-products
.db-top-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 62px;
  color: $small-title-text;
  font-size: 16px;
}

.db-bottom-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 37px;
  padding: 4px;
  color: $sec-highlight-text;
}

// blue button with arrow at the right bottom of blocks
.bt-row-btn {
  height: 100%;
  margin-right: 12px;
  margin-left: auto;
  padding: 6px 20px 6px 6px;
  color: $sec-highlight-text;
  background: url(../images/icons/to-right.svg) center right/13px no-repeat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

@import "dashboard__info-row";

@import "dashboard__schedules-row";

@import "dashboard__bottom-row";

/*
	media
*/
@media (max-width: 1199.98px) {
  .dashboard-block .dashboard-block__schedules-row {
    flex-wrap: wrap;
  }
}

@media (max-width: 575.98px) {
  .dashboard-block .dashboard-block__info-row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
