.dashboard-block {
	//flex - column - cen 
	color: $small-title-text;

	.dashboard-rows {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__info-row {
		@media (max-width: 575.98px) {
			flex-wrap: nowrap;
			flex-direction: column;
		}
	}

	&__schedules-row {

		@media (max-width: 1199.98px) {
			flex-wrap: wrap;
		}
	}

	&__bottom-row {
		display: flex;
		border-bottom: 2px solid #dfe3e8;
	}
}

@import 'dashboard__info-row';

@import 'dashboard__schedules-row';

@import 'dashboard__bottom-row';


//padding for elements in containers
.fr-padding {
	padding: 4px 24px 4px 24px;

	@media (max-width: 1199px) {
		padding: 4px 12px 4px 12px;
	}
}

//line before bottom of blocks
.softline {
	height: 2px;
	width: 100%;
	background-color: #dfe3e8;
	color: transparent;
}

//top and bottom rows of schedules & latest-products
.db-top-row {
	height: 62px;
	width: 100%;
	display: flex;
	align-items: center;
	color: $small-title-text;
	font-size: 16px;
}
.db-bottom-row {
	height: 37px;
	width: 100%;
	color: $sec-highlight-text;
	padding: 4px;
	display: flex;
	align-items: center;
}

// blue button with arrow at the right bottom of blocks 
.bt-row-btn {
	height: 100%;
	padding: 6px 20px 6px 6px;
	margin-right: 12px;
	margin-left: auto;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: $sec-highlight-text ;
	background: url(../images/icons/to-right.svg) center right/13px no-repeat;
}