.about {
  width: 60vw;
  margin-right: auto;
  text-align: left;
  word-wrap: initial;

  &__title {
    padding: 16px 0 4px 0;
    color: #616161;
    font-size: 14px;
    line-height: 22px;
  }

  &__info {
    padding-bottom: 20px;
    color: #6b6c6f;
    font-size: 12px;
    line-height: 18px;
  }
}

/*
	media
*/
@media (max-width: 575.98px) {
  .about {
    width: 70vw;
  }
}
