html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  cursor: default;
  //fw: 300 400 500 700
}

main {
  position: relative;
  z-index: 1;
  display: flex;
  min-height: calc(100vh - 64px);
  background-color: $soft-background;
}

.clean-btn {
  color: inherit;
  border: none;
  outline: none;
  background-color: $clean-bg;
}

.soft-bd {
  border: 1px solid rgba(63, 63, 68, 0);
  border-radius: 4px;
  background-color: $clean-bg;
  box-shadow: 0 1px 3px rgba(63, 63, 68, 0.15), 0 1px 0 rgba(63, 63, 68, 0.05);
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

//padding for elements in containers
.fr-padding {
  padding: 4px 24px 4px 24px;
}

//Primary forms
.prim-forms {
  width: 100%;
}

.field-wrappers {
  position: relative;
}

.prim-fields {
  width: 50%;
  height: 50px;
  padding: 13px 16px;
  letter-spacing: 0.15px;
  border: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.prim-fields:hover {
  border: 3px solid $enter-accent;
}

.prim-checkboxes {
  position: relative;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: top;
  background-color: $prim-highlight-text;
}

.prim-checkbox-texts {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.field-wrappers:hover:before {
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 10px;
  height: 20px;
  padding: 0 6px;
  content: "";
  letter-spacing: 0.7px;
  color: $enter-accent;
  background-color: $clean-bg;
  font-size: 14px;
  font-weight: 500;
}

.wrapper-name:hover:before {
  content: "Name";
}

.wrapper-last-name:hover:before {
  content: "Last name";
}

.wrapper-email:hover:before {
  content: "Email";
}

.wrapper-password:hover:before {
  content: "Password";
}

.wrapper-number:hover:before {
  content: "Phone number";
}

.wrapper-country:hover:before {
  content: "Country";
}

.wrapper-city:hover:before {
  content: "City";
}

.wrapper-checkbox {
  //display: flex;
  margin-bottom: 24px;
}

// "submit", to-login, to-signin, to-registration buttons
.forward-btn {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: $enter-accent;
  border: 3px solid $enter-accent;
  border-radius: 6px;
  background-color: $clean-bg;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

//when form sent
.submit-notice {
  position: fixed;
  z-index: 20;
  top: 75px;
  right: 0;
  padding: 10px 20px;
  color: green;
  border: 2px solid green;
  border-right: none;
  border-radius: 11px 0 0 11px;
  background-color: $clean-bg;
  font-size: 2.5rem;
  line-height: 3rem;
}

//when form sent wrong
.error-notice {
  position: fixed;
  z-index: 20;
  top: 145px;
  right: 0;
  padding: 10px 20px;
  color: red;
  border: 2px solid red;
  border-right: none;
  border-radius: 11px 0 0 11px;
  background-color: $clean-bg;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

/*
	media
*/
@media (max-width: 1199.98px) {
  .fr-padding {
    padding: 4px 12px 4px 12px;
  }
}

@media (max-width: 991.98px) {
  .prim-fields {
    height: 42px;
    //margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 9px;
  }

  .prim-fields {
    height: 36px;
    //margin-bottom: 15px;
  }
}
