.header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  color: $inv-text;
  background-color: $enter-accent;

  &__logo {
    display: flex;
    align-items: center;
    height: 36px;
    background: url(../images/icons/header-logo.svg) left center/36px no-repeat;
  }

  &__app-version {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 842px;
    min-height: 3rem;
    margin: 0 15px 0 34px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    background-color: #3c4a97;
  }

  &__account-buttons {
    display: flex;
    justify-content: space-between;
    width: 55px;
    margin-left: auto;
  }
}

.logo-name-text {
  margin-left: 40px;
  white-space: nowrap;
  letter-spacing: -0.06px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 24px;
}

.app-version-logo {
  height: 19px;
  margin: 0 14px 0 6px;
  padding: 4px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  border-radius: 0.4rem;
  background-color: #26a69a;
  font-size: 1rem;
  font-weight: 500;
}

.app-version-upgrade {
  color: #cdd1ea;
  font-size: 1.4rem;
  line-height: 2rem;

  &-shorted {
    display: none;
  }

  &-small {
    display: none;
  }

  a {
    display: inline;
    white-space: nowrap;
    text-decoration: none;
    color: $inv-text;
  }
}

.account-button {
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.notifications-btn {
  background: url(../images/icons/notification-bell-icon.svg) center/contain
    no-repeat;
}

.logout-btn {
  margin-left: 14px;
  background: url(../images/icons/logout-icon.svg) center/contain no-repeat;
}

/*
	media
*/
@media (max-width: 991.98px) {
  .header__app-version {
    margin-left: 10px;
  }

  .app-version-upgrade {
    display: none;
  }
}

@media (max-width: 991.98px) and (min-width: 575.98px) {
  .app-version-upgrade-shorted {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 0 15px;
  }

  .header__app-version {
    justify-content: center;
  }

  .app-version-logo {
    display: none;
  }

  .app-version-upgrade-small {
    display: block;
    text-decoration: underline;
  }
}
