.left-panel {
  flex: 0 0 270px;
  min-height: calc(100vh - 64px);
  padding: 24px 16px;
  transition: 0.3s;
  background-color: $clean-bg;

  &_active {
    transform: translate(0, 0) !important;
  }

  &__switcher {
    position: absolute;
    z-index: 19;
    top: 7px;
    right: -130px;
    width: 130px;
    height: 38px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.28, 0.62, 0.65, 1.64) 0s;
    text-align: center;
    letter-spacing: 1.3px;
    border: 1px solid $prim-highlight-text;
    border-left: none;
    border-radius: 0 18px 18px 0;
    background-color: $clean-bg;
    font-size: 22px;

    &:active {
      letter-spacing: 3px;
      font-weight: 500;
    }

    &:hover {
      right: -140px;
      width: 140px;
      color: $enter-accent;
      border-width: 2px;
      background-color: $input-focus;
    }

    &:focus {
      color: $enter-accent;
      outline: 1px dotted $sec-highlight-text;
      outline-offset: 2px;
      background-color: $input-focus;
    }
  }

  &__user-chunk {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $soft-border;
  }

  &__user-logo {
    margin-bottom: 15px;

    &:active {
      margin-bottom: 11px;
    }
  }

  &__about-user {
    //name and post
    text-align: center;
  }

  &__user-name {
    margin-bottom: 4px;
    letter-spacing: -0.005rem;
    color: $small-title-text;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__user-post {
    padding-bottom: 13px;
    color: $pale-text;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  &__toblock-btns-chunk {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid $soft-border;
  }

  &__button {
    display: block;
    width: 100%;
    height: 46px;
    margin: 0 0 6px 0;
    padding-left: 48px;
    cursor: pointer;
    transition: font-size 0.2s;
    text-align: left;
    color: $footnote;
    border: 1px solid $clean-bg;
    border-left-width: 4px;
    background-color: $clean-bg;
    background-repeat: no-repeat;
    background-position: left 9px center;
    background-size: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 4.5rem;

    &_active {
      color: $small-title-text;
      border-top-color: #d9e6f8;
      border-bottom-color: #d9e6f8;
      border-left-color: $sec-highlight-text;
      border-radius: 6px 0 0 6px;
      background-color: $soft-background;
    }

    &:active {
      font-size: 1.5rem;
    }

    &:not(:disabled):hover {
      color: $small-title-text;
      border-top-color: #a6b2c3;
      border-bottom-color: #a6b2c3;
      background-color: $soft-background;
    }

    &:focus {
      outline: 1px solid #a6b2c3;
      outline-offset: 2px;
      background-color: $soft-background;
    }

    &:disabled {
      cursor: not-allowed;
      border-radius: 6px 0 0 6px;
      background-color: $disabled;
    }
  }

  //&__support-chunk {}

  &__support-title {
    margin-left: 16px;
    color: $pale-text;
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__open-support-btn {
    background-image: url("../images/icons/left-panel/support-btn-icon.svg");
  }
}

.left-panel__button-0 {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-0.svg");
}

.left-panel__button-0:not(:disabled):hover,
.left-panel__button_active[rel="0"] {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-0_active.svg");
}

.left-panel__button-1 {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-1.svg");
}

.left-panel__button-1:not(:disabled):hover,
.left-panel__button_active[rel="1"] {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-1_active.svg");
}

.left-panel__button-2 {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-2.svg");
}

.left-panel__button-2:not(:disabled):hover,
.left-panel__button_active[rel="2"] {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-2_active.svg");
}

.left-panel__button-3 {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-3.svg");
}

.left-panel__button-3:not(:disabled):hover,
.left-panel__button_active[rel="3"] {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-3_active.svg");
}

.left-panel__button-4 {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-4.svg");
}

.left-panel__button-4:not(:disabled):hover,
.left-panel__button_active[rel="4"] {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-4_active.svg");
}

.left-panel__button-5 {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-5.svg");
}

.left-panel__button-5:not(:disabled):hover,
.left-panel__button_active[rel="5"] {
  background-image: url("../images/icons/left-panel/toblock-btn-icon-5_active.svg");
}

/*
	media
*/
@media (max-width: 1199.98px) {
  .left-panel {
    flex: 0 0 230px;
  }
}

@media (max-width: 991.98px) {
  .left-panel {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 230px;
    padding: 12px 9px;
    transition: 0.3s;
    transform: translate(-100%, 0);
  }
}

@media (min-width: 991.98px) {
  //remove switcher on big screens
  .left-panel__switcher {
    display: none;
  }
}

@media (max-width: 757.98px) {
  .left-panel__user-block {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .left-panel__button {
    height: 41px;
    margin: 3px 0 3px 3px;
  }
}

@media (max-width: 575.98px) {
  .left-panel__switcher {
    right: -70px;
    width: 70px;
    padding-top: 9px;
    font-size: 17px;

    &:hover {
      right: -80px;
      width: 80px;
    }
  }
}