.left-panel {
  flex: 0 0 270px;
  min-height: calc(100vh - 64px);
  max-height: 1016px;
  padding: 24px 16px;
  transition: 0.3s;
  background-color: $clean-bg;

  &_active {
    transform: translate(0, 0) !important;
  }

  &__switcher {
    position: absolute;
    z-index: 19;
    top: 7px;
    right: -130px;
    width: 130px;
    height: 38px;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.6px;
    opacity: 0.7;
    border: 1px solid $sec-highlight-text;
    border-left: none;
    border-radius: 0 18px 18px 0;
    background-color: $clean-bg;
    font-size: 22px;
    font-weight: 500;
  }

  &__user-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $soft-border;
  }

  &__toblock-links {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid $soft-border;
  }

  // &__support {}
}

//left-panel__user-block:
.user-block__logo {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: $enter-accent;

  &:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  }
}

.user-block__text {
  text-align: center;

  .user-name {
    margin-bottom: 4px;
    letter-spacing: -0.005rem;
    color: $small-title-text;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .user-post {
    padding-bottom: 13px;
    color: $pale-text;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

//left-panel__toblock-links:
.toblock-btn {
  display: block;
  width: 94%;
  height: 46px;
  margin: 6px 0 6px 6px;
  padding: 0 0 6px 15px;
  cursor: pointer;
  text-align: left;
  letter-spacing: -0.005rem;
  color: $footnote;
  border: none;
  background-color: $clean-bg;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  transition: font-size 0.2s;

  &:hover,
  &:focus {
    background-color: $soft-background;
    border-bottom: 1px solid #d9e6f8;
    border-top: 1px solid #d9e6f8;
  }

  &:active {
    font-size: 1.5rem;
  }

  &:disabled {
    background-color: $disabled;
    border-radius: 6px 0 0 6px;
    cursor: not-allowed;
  }

  &_active {
    color: $small-title-text;
    border-radius: 6px 0 0 6px;
    border-top: 1px solid #d9e6f8;
    border-bottom: 1px solid #d9e6f8;
    border-left: 3px solid $sec-highlight-text;
    background-color: $soft-background;
  }

  img {
    position: relative;
    top: 6px;
    left: 0;
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

// .dashboard-toblock-btn {}
// .users-toblock-btn {}
// .products-toblock-btn {}
// .authentication-toblock-btn {}
// .typography-toblock-btn {	}
// .icons-images-toblock-btn {}

//left-panel__support:
.support-title {
  margin-left: 16px;
  color: $pale-text;
  font-size: 1.3rem;
  font-weight: 500;
}

// .open-support {}

/*
	media
*/
@media (max-width: 1199.98px) {
  .left-panel {
    flex: 0 0 230px;
  }
}

@media (max-width: 991.98px) {
  .left-panel {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 230px;
    padding: 12px 9px;
    transition: 0.3s;
    transform: translate(-100%, 0);
  }
}

@media (min-width: 991.98px) {
  //remove switcher on big screens
  .left-panel__switcher {
    display: none;
  }
}

@media (max-width: 757.98px) {
  .left-panel__user-block {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .toblock-btn {
    height: 41px;
    margin: 3px 0 3px 3px;
  }

  .toblock-btn img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 575.98px) {
  .left-panel__switcher {
    right: -80px;
    width: 80px;
    padding-top: 9px;
    font-size: 17px;
  }
}
