.notifications-bar {
  position: fixed;
  z-index: -6;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 342px;
  height: 395px;
  transition: 0.3s;
  opacity: 0;
  color: $small-title-text;
  border-top: 1px solid $sec-highlight-text;
  border-left: 1px solid $sec-highlight-text;
  border-radius: 8px 0 0 0;
  background-color: $clean-bg;

  &_active {
    z-index: 21;
    overflow: visible;
    opacity: 1;
  }

  ::-webkit-scrollbar {
    // width of vertical scroll
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    // scrollbar roller 
    border-radius: 1em;
    background-color: #c7ced4;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a2a6aa;
  }

  &__close-btn-wrapper {
    position: absolute;
    top: -50px;
    right: 10px;
    height: 52px;
  }

  &__close-btn {
    cursor: pointer;
    color: $pale-text;
    background-color: transparent !important;
    font-size: 50px;
  }

  &__top-row {
    height: 24.5%;
    margin: 4px 6px;
    padding: 24px;
    background: $soft-background url(../images/icons/ntfs-logo.svg) right center/180px 87px no-repeat;
  }

  &__title {
    margin-bottom: 3px;
    letter-spacing: -0.04px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__count {
    color: $pale-text;
    font-size: 12px;
  }

  &__alerts-block {
    overflow-y: auto;
    height: 69.6%;
    margin: 0 7px 5px;
    scrollbar-color: #c7ced4 $clean-bg;
    scrollbar-width: thin;
  }
}

.notification-item {
  display: flex;
  align-items: center;
  width: 90%;
  height: 64px;
  border-bottom: 2px solid #f0f1f4;

  &__logo {
    width: 36px;
    height: 36px;
    margin: 0 8px 0 22px;
    background: url(../images/icons/users-operation.svg) center/contain no-repeat;
  }

  &__message {
    display: flex;
    flex-direction: column;
  }

  &__message-name {
    font-size: 1.4rem;
  }

  &__message-time {
    color: $pale-text;
    font-size: 1.2rem;
  }

  &__toevent-btn {
    margin-left: auto;
    color: $pale-text;
    font-size: 2.6rem;
    font-weight: 500;
    justify-self: flex-end;
  }
}

/*
	media
*/
@media (max-width: 767.98px) {
  .notifications-bar {
    width: 270px;
    height: 280px;
  }

  .notification-item__logo {
    margin-left: 0;
  }
}