.prim-blocks-wrapper {
  position: relative;
  flex: 1 0 auto;
  background-color: $soft-background;
}

.prim-blocks {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 24px 16px;
  transition: 0.4s;
  opacity: 0;
  color: $small-title-text;

  * {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
  }
}

.active-prim-block {
  position: relative;
  z-index: 2;
  visibility: visible;
  transition: 0.4s;
  opacity: 1;

  * {
    position: static;
  }
}

/*
	media
*/
@media (max-width: 991.98px) {
  .prim-blocks {
    padding: 70px 12px 12px 12px;
  }
}
