$enter-accent: #3f51b5;
$prim-highlight-text: #1665d8;
$sec-highlight-text: #1070ca;
$small-title-text: #3a3b3f;

$dark-title-text: #212529;
$footnote: #66788a;
$soft-border: #e4e7eb;

$input-focus: #f1f7ff;
$mouse-focus: #e9e8e8;
$disabled: #e6e6e6;

$pale-text: #9ea0a5;
$inv-text: #fff;
$clean-bg: #fff;
$soft-background: #f9fafb;

@import "reset";

@import "common-styles";

@import "header";
@import "left-panel";
@import "notifications-bar";

@import "dashboard/dashboard-block";
@import "users-block";
@import "products-block";
@import "authentication/authentication-block";

@import "enter-page";
@import "block-footer";
